{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_codexproitec/codexproitec

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):

    Exemplo, conforme `get_courses_progress_as_dict`:
    {
       "jornada": {
         "course_id": 0,
         "course_idnumber": "20242.1.527.1E.FIC.1197#564322",
         "course_fullname": "Seminário de Integração",
         "course_shortname": "20242.1.527.1E.FIC.1197#564322"
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1198",
         "iniciada": 0,
         "concluida": 0,
       },
       "etica": {
         "course_id": 0,
         "course_idnumber": "20242.1.527.1E.FIC.1197#564322",
         "course_fullname": "Ética e Cidadania",
         "course_shortname": "20242.1.527.1E.FIC.1197#564322"
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1197",
         "iniciada": 0,
         "concluida": 0,
       },
       "matematica": {
         "course_id": 0,
         "course_idnumber": "20242.1.527.1E.FIC.1196#564322",
         "course_fullname": "Matemática",
         "course_shortname": "20242.1.527.1E.FIC.1196#564322"
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1196",
         "iniciada": 0,
         "concluida": 0,
       },
       "portugues": {
         "course_id": 0,
         "course_idnumber": "20242.1.527.1E.FIC.1195#564322",
         "course_fullname": "Língua Portuguesa",
         "course_shortname": "20242.1.527.1E.FIC.1195#564322"
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1195",
         "iniciada": 0,
         "concluida": 0,
       },
    }
}}

<style>
.activity.modtype_codexproitec {
    border: none;
}
.activity.modtype_codexproitec .activity-icon, .activity.modtype_codexproitec .activity-name-area {
    display: none !important;
}
.activity.modtype_codexproitec .activity-description {
    border: none !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

body.editing .activity.modtype_codexproitec {
    border: none;
}
body.editing .activity.modtype_codexproitec .activity-icon,
body.editing .activity.modtype_codexproitec .activity-name-area {
    display: none !important;
}
body.editing .activity.modtype_codexproitec .activity-description {
    border: none !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.codex_fechado {
    font-size: 20px;
    margin-top: 20px;
    color: #1D1D1B;
    font-family: "Montserrat", sans-serif;
}
</style>

{{#jornada.iniciada}}
<div>
    {{#meta_alcancada}}
    <video id="codexproitec_video_portal" controls width="100%" poster="{{wwwroot}}/mod/codexproitec/assets/capa.png">
        <source src="{{wwwroot}}/mod/codexproitec/assets/portal.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
    <script>
        const video = document.getElementById('codexproitec_video_portal');
      
        video.addEventListener('ended', () => {
            video.style.display = 'none';
            document.getElementById('codexproitec_mensagem1').style.display = 'block';
        });
    </script>
    <div id="codexproitec_mensagem1" style="display: none;">
        <center>
            {{{ svg_codecxproitec }}}
        </center>
        <center>
            <h3>Codex desbloqueado</h3>
            <a href="{{wwwroot}}/mod/codexproitec/assets/codex.pdf" class="btn btn-primary">Baixe seu prêmio, campeã(o)!</a>
        </center>
    </div>
    {{/meta_alcancada}}
    {{^meta_alcancada}}
        <center>
            {{{ svg_codecxproitec }}}
        </center>
        <center>
            <p class="codex_fechado">Colete as quatro pedras para conseguir abrir o Codex.</p>           
        </center>
    {{/meta_alcancada}}
</div>
{{/jornada.iniciada}}