{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_codexproitec/codexproitec

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):

    Exemplo, conforme `get_courses_progress_as_dict`:
    {
       "jornada": {
         "course_id": 0,
         "course_idnumber": "...",
         "course_fullname": "...",
         "course_shortname": "...",
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1198",
         "iniciada": 0,
         "concluida": 0,
       },
       "etica": {
         "course_id": 0,
         "course_idnumber": "...",
         "course_fullname": "...",
         "course_shortname": "...",
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1197",
         "iniciada": 0,
         "concluida": 0,
       },
       "matematica": {
         "course_id": 0,
         "course_idnumber": "...",
         "course_fullname": "...",
         "course_shortname": "...",
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1196",
         "iniciada": 0,
         "concluida": 0,
       },
       "portugues": {
         "course_id": 0,
         "course_idnumber": "...",
         "course_fullname": "...",
         "course_shortname": "...",
         "course_alias": "...",
         "course_subtitle": "...",
         "course_image_url": "...",
         "total_modules": 0,
         "completed_modules": 0,
         "completion_percentage": 0,
         "disciplina": "FIC.1195",
         "iniciada": 0,
         "concluida": 0,
       },
    }
}}

<style>
.activity.modtype_codexproitec {
    border: none;
}
.activity.modtype_codexproitec .activity-icon, .activity.modtype_codexproitec .activity-name-area {
    display: none !important;
}
.activity.modtype_codexproitec .activity-description {
    border: none !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}
}
</style>

<div>
    <center>
        {{{ svg_codecxproitec }}}
    </center>
    <center>
        {{#meta_alcancada}}
            <h3>Desbloqueie o Codex</h3>
            <p>Você alcançou a meta de estudos e pode desbloear seu codex.</p>
            <p>Para baixar, clique nos botões abaixo.</p>
            <p><a href="{{wwwroot}}/mod/codexproitec/assets/jornada.pdf" class="btn btn-secondary">Jornada</a></p>
            <p><a href="{{wwwroot}}/mod/codexproitec/assets/etica.pdf" class="btn btn-secondary">Ética e cidadania</a></p>
            <p><a href="{{wwwroot}}/mod/codexproitec/assets/matematica.pdf" class="btn btn-secondary">Matemática</a></p>
            <p><a href="{{wwwroot}}/mod/codexproitec/assets/portugues.pdf" class="btn btn-secondary">Língua portuguesa</a></p>
        {{/meta_alcancada}}
        {{^meta_alcancada}}
            Colete as quatro pedras para conseguir abrir o Códex.
        {{/meta_alcancada}}
    </center>
</div>
